3to2==1.1.1
appdirs==1.4.3
applib==1.2
astroid==2.3.3
audiosegment==0.22.2
autopep8==1.5.2
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cmdln==2.0.0
colorama==0.4.3
esprima==4.0.1
ffmpeg-python==0.2.0
Flask==1.1.2
future==0.18.2
gunicorn==20.0.4
idna==2.9
Inflector==3.0.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
libclang-py3==3.9.0
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.2
playsound==1.2.2
pycodestyle==2.5.0
pydub==0.23.1
pygame==1.9.6
pylint==2.4.4
python-vlc==3.0.7110
requests==2.23.0
simpleaudio==1.0.4
six==1.14.0
urllib3==1.25.9
webrtcvad==2.0.10
Werkzeug==1.0.1
wrapt==1.11.2
zope.cachedescriptors==4.3.1
